.main-container {
  width: 100%;
}

.title-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-icon {
  width: 32px;
  height: 32px;
}

.editor-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 4px;
}

.project-title {
  margin: 8px;
}
